*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
}

.navabr a{
    font-size: 20px;
    text-decoration: none;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
}